MAILCOW_HOSTNAME=mail.infotech.wiki
TZ=Asia/Ho_Chi_Minh
MAILCOW_DATA_PATH=/home/infochel/apps/mailcow-data

DBNAME=mailcow
DBUSER=mailcow
DBPASS=replace-with-random-secret
DBROOT=replace-with-random-secret
REDISPASS=replace-with-random-secret
SOGO_URL_ENCRYPTION_KEY=replace16charKey
API_KEY=replace-with-random-api-key
API_ALLOW_FROM=127.0.0.1,100.66.180.126,100.109.45.89,100.122.253.42
MAILCOW_ADMIN_PASSWORD=replace-with-random-admin-password

IPV4_NETWORK=192.168.80
IPV6_NETWORK=fd4d:6169:6c63:6f77::/64
ENABLE_IPV6=false
MAILCOW_NETWORK=192.168.80.0/24

HTTP_BIND=0.0.0.0
HTTP_PORT=18082
HTTPS_BIND=127.0.0.1
HTTPS_PORT=18445
HTTP_REDIRECT=n
TRUSTED_PROXIES=100.109.45.89,10.0.1.0/24

SKIP_LETS_ENCRYPT=n
ACME_DNS_CHALLENGE=y
ACME_DNS_PROVIDER=dns_cf
ACME_ACCOUNT_EMAIL=admin@infotech.wiki
ONLY_MAILCOW_HOSTNAME=y
AUTODISCOVER_SAN=n
CF_DNS_API_TOKEN=replace-with-cloudflare-token
CF_ACCOUNT_ID=replace-with-cloudflare-account-id
CF_ZONE_ID=replace-with-cloudflare-zone-id

EDGE_TAILSCALE_IP=100.109.45.89
OFFICE_TAILSCALE_IP=100.122.253.42
EDGE_TUNNEL_IP=10.254.254.1
OFFICE_TUNNEL_IP=10.254.254.2
PUBLIC_INTERFACE=ens3
MAILCOW_BRIDGE=br-mailcow
ROUTE_TABLE=252
ROUTE_MARK=0x19
WIREGUARD_PRIVATE_KEY=replace-with-node-private-key
WIREGUARD_PEER_PUBLIC_KEY=replace-with-peer-public-key
WIREGUARD_PORT=51821
